.main{
       width: 100%;
        margin: 0;
        height: 729px;
        background-image: linear-gradient(to right, rgb(27, 40, 56), rgb(87, 102, 116));
        background-size: 400% 400%;
        animation: gradientAnimation 15s ease infinite;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
}

.container-home {
  width: 1040px;
  height: auto;
  margin: 0 auto;
  top: 55px;  
  position: relative;


  .home-parent {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    .home-parent-text {
      width: 550px;
      height: auto;

      .text-h3 {
        color: rgb(129, 140, 248);
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-feature-settings: normal;
        font-size: 18px;
        font-variation-settings: normal;
        font-weight: 600;
        height: auto;
        letter-spacing: 1.8px;
        line-height: 28px;
        text-transform: uppercase;
      }

      .text-h1 {
        color: rgb(229, 231, 235);
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        margin-top: 30px;
        font-size: 48px;
        line-height: 50px;
      }

      .text-p {
        color: rgb(209, 213, 219);
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        scroll-behavior: smooth;
        margin-top: 25px;
      }

      .home-parent-button {
        display: flex;
        gap: 25px;
        margin-top: 20px;

        button {
          padding: 15px 34px;
          cursor: pointer;

          &:first-child {
            background: #2D3963;
            color: rgb(165, 180, 252);
            font-size: 16px;
            border: none;
            font-weight: 600;
            scroll-behavior: smooth;
            border-radius: 8px;
            tab-size: 4;
            text-decoration-color: rgb(165, 180, 252);

            &:hover{
              background:  rgb(129, 140, 248);
            }
          }
          &:nth-child(2){
            background:none;
            border: 2px solid rgb(129, 140, 248);
            border-radius: 8px;
            color: rgb(129, 140, 248);
            font-size: 16px;

            &:hover{
                background: #818CF8;
                color: white;
            }
          }
        }
      }
    }
    .home-parent-img {
      width: 450px;
      height: auto;
      
      .img-clon {
        width: 450px;
        height: 450px;
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        cursor: pointer;
        img {
          width: 80%;
          height: auto;
          display: flex;
          margin: 0 auto;
        }
      }
    }
  }
}
@media screen and (max-width: 447px){
  .main{
    width: 100%;
    min-height: 850px;


    .container-home{
      width: 100%;
      height: auto;

       .home-parent{
        width: 100%;
        display: flex;
        flex-direction: column;

       }

    }

  }
  
}